//Colors Used
/// Primary Colors
$nutmeg: hsl(14, 45%, 36%);
$dark-raspberry: hsl(332, 51%, 32%);
///Neutral Colors
$white: hsl(0, 0%, 100%);
$rose-white: hsl(330, 100%, 98%);
$eggshell: hsl(30, 54%, 90%);
$light-grey: hsl(30, 18%, 87%);
$wenge-brown: hsl(30, 10%, 34%);
$dark-charcoal: hsl(24, 5%, 18%);

//Font Used
///Outfit Font
@font-face {
    font-family: "outfit";
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
///Young Serif Font
@font-face {
    font-family: "young serif";
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 0 75px;
    margin: 0;
    height: fit-content;
    width: 100%;
    background-color: $eggshell;
    .recipe-content {
        /* 
        Recipe Content contain: 
            Meal Image (.meal-img)
            Meal Name (.meal-name)
            Meal Description (.meal-desc)
            Preparation Time (.meal-prep-time)
            Meal Ingredients (.meal-ingredients)
            Instructions (.meal-prep-instructions)
            Meal Nutritions (.meal-nutrition) 
        */
        border-radius: 10px;
        margin: 0;
        padding: 30px;
        width: 80vw;
        background-color: $white;
        hr {
            border: 0.5px solid $light-grey;
        }
        .meal-img {
            border-radius: inherit;
            margin: 0 auto;
            width: 100%;
            height: auto;
        }
        .meal-name {
            margin: 12px 0 12px;
            font-family: "young serif";
            font-size: 2.4rem;
            color: $dark-charcoal;
        }
        .meal-desc {
            font-family: "outfit";
            font-size: 0.9rem;
            color: $wenge-brown;
        }
        .meal-ingredients, .meal-prep-instructions, .meal-nutrition {
            border-radius: inherit;
            font-family: "outfit";
            font-size: 0.9rem;
            color: $wenge-brown;
            .section-title {
                font-family: "young serif";
                font-size: 1.4rem;
                color: $nutmeg;
            }
        }
        .meal-prep-time {
            padding: 20px;
            border-radius: inherit;
            font-family: "outfit";
            font-size: 0.9rem;
            color: $wenge-brown;
            background-color: $rose-white;
            .section-title {
                margin: 0;
                font-weight: 600;
                font-size: 1.1rem;
                color: $dark-raspberry;
            }
            ul {
                padding-left: 20px;
                li {
                    padding-left: 10px;
                    &::marker {
                        color: $dark-raspberry;
                    }
                }
            }
        }
        .meal-ingredients {
            ul {
                padding-left: 20px;
                li {
                    padding-left: 10px;
                    padding-bottom: 10px;
                    &::marker {
                        color: $nutmeg;
                    }
                }
            }
        }
        .meal-prep-instructions {
            ol {
                padding-left: 20px;
                li {
                    padding-left: 10px;
                    &::marker {
                        font-weight: 600;
                        color: $nutmeg;
                    }
                }
            }
        }
        .meal-nutrition {
            .nutrition-amounts {
                margin-top: 20px;
                width: 100%;
                tr {  
                    td {
                        border-bottom: 1px solid $light-grey;
                        padding: 10px;
                        &:last-child {
                            color: $nutmeg;
                            font-weight: 700;
                        }
                    }
                    &:last-child {
                        td {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1200px) {
    body {
        .recipe-content {
            width: 40vw !important;
        }
    }
}